<p-fieldset legend="Cambridge">
  <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Área">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </p-tabPanel>
    <p-tabPanel header="Oficina">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Salones">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
    <p-tabPanel header="Empleados">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  </p-tabView>
</p-fieldset>
