<p-fieldset legend="Cambridge">
  <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Área">
      <app-area></app-area>
    </p-tabPanel>
    <p-tabPanel header="Oficina">
      <app-oficina></app-oficina>
    </p-tabPanel>
    <p-tabPanel header="Salones">
      <app-salones></app-salones>
    </p-tabPanel>
    <p-tabPanel header="Empleados">
      <app-empleados></app-empleados>
    </p-tabPanel>
    <p-tabPanel header="Reportes">
      <app-reportes></app-reportes>
    </p-tabPanel>
  </p-tabView>
</p-fieldset>
